@import "../../styles/mixins.scss";
@import "../../styles/style.scss";

.contact{
    padding-top: em(126);
    padding-inline: em(24);
    padding-bottom: em(80);
    background: url("../../public/pricing/bitmap_mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
    h1{
        text-align: center;
        max-width: 327px;
        margin: auto;
        margin-bottom: em(40);
        color: $sanJuanBlue;
    }
    .formSection{
        display: flex;
        flex-direction: column;
        gap: em(24);
        textarea{
            padding-bottom: em(64);
            resize: none;
            max-width: 100%;
        }
        button{
            max-width: 152px;
            margin-bottom: em(80);
        }
    }
    .clients{
        h2{
            text-align: center;
            color: #36536B;
            opacity: 0.75;
            font-weight: 400;
            max-width: 327px;
            margin: auto;
            margin-bottom: em(32);
        }
        .clientsGrid{
            display: grid;
            place-items: center;
            grid-template-columns: repeat(2, 1fr);
            gap: em(40);
            margin-bottom: em(80);
        }
    }
    @include md{
        background: url("../../public/pricing/bitmap_tablet.svg");
        background-repeat: no-repeat;
        background-position: top right;
        padding-inline: em(114);
        h1{
            font-size: rem(48);
            max-width: 550px;
        }
        .formSection{
            max-width: 445px;
            margin: auto;
        }
        .clients{
            h2{
                max-width: 445px;
                font-size: rem(24);
            }
            .clientsGrid{
                grid-template-columns: repeat(3, 1fr);
                margin-bottom: em(100);
            }
        }
    }
    @include xl{
        padding-inline: em(165);
        background: url("../../public/pricing/bitmap_desktop.svg");
        background-repeat: no-repeat;
        background-position: top right;
        .heading{
            max-width: 730px;
            h1{
                max-width: 100%;
                text-align: left;
                font-size: rem(56);
            }
        }
        .formClients{
            display: flex;
            gap: em(124);
            justify-content: space-between;
            align-items: center;
            .formSection{
                margin: 0;
                gap: em(35);
                max-width: 100%;
            }
            .clients{
                h2{
                    margin: 0;
                    text-align: left;
                    font-size: em(24);
                    margin-bottom: em(40);
                }
            }
        }
    }
    @include rwd(2000px){
        .clients{
            .clientsGrid{
                gap: em(120);
                img{
                    width: 125%;
                }
            }
        }
     }
}