@import "../../../styles/mixins.scss";
@import "../../../styles/style.scss";


.demoForm{
    text-align: center;
    h2{
        font-size: 32px;
        color: $sanJuanBlue;
    }
    form{
        margin-top: em(32);
        display: flex;
        gap: em(16);
        flex-direction: column;
        input{
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            border-radius: 24px;
            border: none;
            padding-top: em(16);
            padding-bottom: em(14);
            padding-left: em(27);
            padding-right: em(158);
            font-size:$paragraph;
            font-weight: bold;
            color: $lightSanJuanBlue;
            opacity: 0.5;
        }
    }
    @include md{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                font-size: 48px;
            }
            form{
                margin-top: em(40);
                flex-direction: row;
                button{
                    z-index: 1;
                    margin-left: -100px;
                }
            }
    }
    @include xl{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            h2{
                font-size: rem(48);
                margin-bottom: em(-10);
            }
    }
    @include rwd(2000px){
            h2{
                font-size: rem(65);
            }
     }
}
