@import "../../styles/mixins.scss";
@import "../../styles/style.scss";

.Hero{
    background: url("../../public/home/desktop/bitmap_hero_mobile.svg");
    background-size: 100%;
    background-position: 100;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    img{
        margin-top: em(100);
        max-width: 150px;
        margin-bottom: em(24);
        
    }
    .HeroText{
        padding-inline: em(14);
        display: flex;
        align-items: center;
        gap: em(16);
        flex-direction: column;
        h1{
            color: $sanJuanBlue;
            max-width: 327px;
        }
        p{
            margin-top: em(8);
            color: $lightSanJuanBlue;
            margin-bottom: em(79);
        }
        form{
            max-width:327px;
            display: flex;
            gap: em(16);
            flex-direction: column;
            input{
                box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
                border-radius: 24px;
                border: none;
                padding-top: em(16);
                padding-bottom: em(14);
                padding-left: em(27);
                padding-right: em(158);
                font-size:$paragraph;
                font-weight: bold;
                color: $lightSanJuanBlue;
                opacity: 0.5;
            }
        }
    }
    @include md{
        background-size: 100% 400px;
        img{
            margin-top: em(150);
            max-width: 200px;
            margin-bottom: em(48);
        }
        .HeroText{
            padding-inline: em(98);
            h1{
                text-align: center;
                font-size: rem(48);
                max-width: 573px;
                margin-bottom: em(10);
            }
            form{
                max-width:500px;
                margin-bottom: em(16);
                flex-direction: row;
                button{
                    margin-left: -100px;
                    z-index: 1;
                }
            }
        }
    }
    @include xl{
        background: url("../../public/home/desktop/bitmap_hero.svg");
        background-repeat: no-repeat;
        background-position: right 0;
        padding-inline: em(165);
        flex-direction: row-reverse;
        justify-content: space-between;
        img{
            max-width: 300px;
        }
        .HeroText{
            padding-inline: 0;
            margin-top: em(152);
            h1{
                font-size: rem(72);
                text-align: left;
                max-width: 546px;
            }
            form{
                max-width:600px;
                width: 100%;
                padding-right: em(101);
            }
            p{
                padding-left: em(27);
                text-align: left;
                width: 100%;
            }
        }
        img{
            width: auto;
            height: 100%;
        }
    }
    @include rwd(2000px){
       .HeroText{
         h1{
            max-width: 950px;
            font-size: rem(100);
         }
         form{
            max-width: 100%;
         }
       }
    }
}