@import "style.scss";


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background:#EDF3F8;
}
/*Font classes*/
.header1Large,.header1Small,.header2,.header3Large,.header3Small,.header4{
  font-family: $serifDisplay;
}

.header1Large{
  font-size: $header1Large;
}

.header1Small{
  font-size: $header1Small;
}

.header2{
  font-size: $header2;
}

.header3Large{
  font-size: $header3Large;
}

.header3Small{
  font-size: $header3Small;
}

.header4{
  font-size: $header4;
}

.paragraph{
  font-size: $paragraph;
  font-family: $publicSans;
}

.line{
  display: block;
  background: #FBFCFE;
  width: 100%;
  padding: 0.005em;
  opacity: 0.15;
}

.line2{
  display: block;
  background: #36536B;
  width: 100%;
  padding: 0.005em;
  opacity: 0.15;
}

.faded{
  opacity: 0.25;
}
/*Buttons*/
/*===Primary===*/
.primary{
  border: none;
  font-size: $paragraph;
  font-family: $publicSans;
  font-weight: bold;
  color: $linkWaterWhite;
  background-color: $darkPink;
  padding: em(14) em(26.5);
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  cursor: pointer;
}

.primary:hover{
  background-color: $charmPink;
  transition: all 0.3s ease;
  cursor: pointer;
}



.primary:disabled{
  background-color: $charmPink;
}

/*===Secondary===*/
.secondaryLight{
  background: transparent;
  padding: em(16) em(32);
  border: 1px solid #FBFCFE;
  color: $linkWaterWhite;
  border-radius: 24px;
  font-size: $paragraph;
  font-family: $publicSans;
  font-weight: bold;
  cursor: pointer;
}

.secondaryLight:hover{
  transition: all 0.3s ease;
  background: $linkWaterWhite;
  color: $mirageBlue;
}

.secondaryDark{
  background: transparent;
  padding: em(16) em(32);
  border: 1px solid $sanJuanBlue;
  color: $sanJuanBlue;
  border-radius: 24px;
  font-size: $paragraph;
  font-family: $publicSans;
  font-weight: bold;
  cursor: pointer;
}

.secondaryDark:hover{
  transition: all 0.3s ease;
  background: $sanJuanBlue;
  color: $linkWaterWhite;
}

/*Form*/
.form{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
}

.form_input{
  background: transparent;
  border: none;
  font-family: $publicSans;
  color: $sanJuanBlue;
  opacity: 0.5;
  font-size: $paragraph;
  padding-left: em(20);
  padding-bottom: em(17);
  border-bottom: 1px solid $sanJuanBlue;
}

.form_input:hover{
  border: none;
  opacity: 1;
  border-bottom: 1px solid $sanJuanBlue;
}

.form_input:active{
  border: none;
  opacity: 1;
  border-bottom: 1px solid $sanJuanBlue;
}

.form_input:focus{
  outline: none;
  opacity: 1;
  border-bottom: 1px solid $sanJuanBlue;
}


.form-wrapper-check{
  display: flex;
  gap: em(26);
  font-size: $paragraph;
  font-family: $publicSans;
  color: $sanJuanBlue;
  align-items: center;
  input{
    display: none;
  }
  .form_checkbox-label{
    position: relative;
    display: block;
    min-height: 24px;
    min-width: 24px;
    opacity: 0.5;
    background: #36536B;
    cursor: pointer;
    img{
      display: none;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  input:checked ~ .form_checkbox-label{
    cursor: pointer;
    background: $darkPink;
    opacity: 1;
    img{
      display: block;
    }
  }
}
