@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans&display=swap');

/*Colors*/
$darkPink: #ba4270;
$linkWaterWhite: #fbfcfe;
$sanJuanBlue: #36536b;
$mirageBlue: #1b262f;
$charmPink: #da6d97;
$lightSanJuanBlue: #6c8294;

/*Font*/
$serifDisplay: 'DM Serif Display', serif;
$publicSans: 'Public Sans', sans-serif;
$header1Large: rem(72);
$header1Small: rem(56);
$header2: rem(48);
$header3Large: rem(32);
$header3Small: rem(18);
$header4: rem(24);
$paragraph: rem(15);






