@import "../../styles/mixins.scss";
@import "../../styles/style.scss";

.menu{
    position: fixed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #1B262F;
    top: 0;
    right: 0;
    z-index: 10000;
    height: 100%;
    width: 90%;
    padding-inline: em(24);
    .menuItems{
        gap: em(32);
        display: flex;
        flex-direction: column;
        position: relative;
        .close{
            position: absolute;
            right: 0;
            bottom: 275px;
        }
        .navLinks{
            margin-top: em(11);
            display: flex;
            gap: em(32);
            flex-direction: column;
            align-items: center;
            a{
                font-family: $publicSans;
                color: $linkWaterWhite;
                opacity: 0.7;
                font-weight: bold;
                font-size: rem(20);
                text-decoration: none;
            }
        }
        span{
            margin-top: em(95);
        }
    }
    @include md{
        display: none;
    }
}

.navBar{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: em(25) em(21);
    .logo,.hamburger,.navLinks,button{
        z-index: 1;
        cursor: pointer;
    }
    .navLinks,button{
        display: none;
    }
    @include md{
        padding-inline: em(40);
        .navLinks,button{
            display: flex;
        }
        .hamburger{
            display: none;
        }
        .navLinks{
            display: flex;
            gap: em(40);
            a{
                text-decoration: none;
                font-size: $paragraph;
                font-family: $publicSans;
                font-weight: bold;
                color: $sanJuanBlue;
                opacity: 0.7;
            }
            a:hover{
                transition: all 0.3s ease;
                color: $darkPink;
            }
        }
    }
    @include xl{
        padding-inline: em(165);
        .navLinks{
            margin-left: em(64);
            flex: 2;
            justify-items: start;
        }

    }
}